/* TABLE OF CONTENTS / CSS PARTIALS */

/* -----------------------------------------------*/
/* ------------- GLOBALS -------------------------*/
/* -----------------------------------------------*/

@import url('partials/global-variables.css');
/* ---- SET MAIN COLORS, FONTS, SIZING UNITS */

@import url('partials/global-resets.css');
/* ---- BODY MARGIN, BOX-SIZING, & SMOOTH SCROLLING */

@import url('partials/global-colors.css');
/* ---- SET MAIN TEXT COLOR, BODY BG COLOR, LINK COLORS */

@import url('partials/global-typography.css');
/* ---- SET MAIN BODY FONT, HEADING FONTS, SIZES, LINE HEIGHTS, etc */

@import url('partials/global-media.css');
/* ---- RESPONSIVE IMAGES, SVG's, and VIDEO */

@import url('partials/global-helpers.css');
/* ---- HIDE-VISUALLY, SPACING HELPERS, ETC */


/* -----------------------------------------------*/
/* ------------- LAYOUT --------------------------*/
/* -----------------------------------------------*/

@import url('partials/containers.css');
@import url('partials/grid.css');

/* -----------------------------------------------*/
/* ------------- STRUCTURE -----------------------*/
/* -----------------------------------------------*/

@import url('partials/structure.css');

/* -----------------------------------------------*/
/* ------------- COMPONENTS ----------------------*/
/* -----------------------------------------------*/

@import url('partials/ui-buttons.css');

/* -----------------------------------------------*/
/* ------------- ANIMATIONS ----------------------*/
/* -----------------------------------------------*/

@import url('partials/animations.css');

/* -----------------------------------------------*/
/* ------------- CUSTOM STYLES -------------------*/
/* -----------------------------------------------*/

/* CUSTOM TYPE BLOCK: RUNNINGHEAD, HEADLINE, SUBHEADLINE */
.runninghead {
    font-family: var(--font-sans);
    color: var(--link-color);
    font-size: .8rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 var(--spacer-tiny) 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.headline {
    font-size: 4rem;
    margin: 0;
    padding: 0 0 var(--spacer-tiny) 0;
    line-height: 1.1;
    text-wrap: balance;
}

.subheadline {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding: 0 0 var(--spacer-tiny) 0;
    line-height: 1.2;
    text-wrap: balance;
}